.navbar{
  font-weight: 300;
  margin-bottom: calc(2.45rem / 2);
}
.nav-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem 0.5rem 1.02rem;
}
.title{
  padding: .3rem;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 2rem;
}
.toggle-btn {
  background: inherit !important;
  border: unset;
  outline: unset;
}
.toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
}
.hide-nav{
  height: 0;
  transition: all 0.5s linear;
}
.show-nav {
  height: 155px;
  transition: all 0.5s linear;
}
.nav-links {
  list-style-type:none;
}
.nav-links > *{
  line-height: 1.45rem;
  height: 26px;
  padding: .3rem 0;
}
.nav-links a,
.nav-links span{
  display: block;
  font-size: 0.95rem;
  letter-spacing: var(--altSpacing);
  padding: 1rem 1.25rem;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 1rem;
  }
  .title{
    padding: .3rem 0;
  }
}
@media screen and (min-width: 992px) {
  .toggle-btn {
    display: none;
  }
  .nav-center {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .title{
    padding: .3rem 0;
  }
}
